<% @bulk_discounts.each do |bulk_discount| %>
<p><%= link_to bulk_discount.name, "/merchant/bulk_discounts/#{bulk_discount.id}" %>

</p>
<% end %>
<br>
<%= link_to "Create New Discount", "/merchant/bulk_discounts/new" %>
