<h1>My Bulk Discounts</h1>
<!% require "pry"; binding.pry %>

<% @bulk_discounts.each do |bulk_discount|%>
<p><%= link_to "Bulk Discount #{bulk_discount.id}", "/merchant/bulk_discounts/#{bulk_discount.id}" %></p>
<% end %>
